<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="1%"></div>
  <div class="item item-2" fxFlex>

    <xlsx-file-upload (oWorkbook)="onWorkbookChanged($event)"></xlsx-file-upload>

    <button mat-button (click)="_dummyCall('Go Data')">Go Data</button>
    <button mat-button (click)="_dummyCall('Go Analyze')">Go Analyze</button>
    <button mat-button (click)="_dummyCall('Go Dash')">Go Dash</button>
    <button mat-button (click)="_dummyCall('Show sheets')">Show sheets</button>
    <button mat-button (click)="_dummyCall('Load sheet 1')">Load sheet 1</button>
    <button mat-button (click)="_dummyCall('Load sheet 2')">Load sheet 2</button>

    <button mat-button color="primary" *ngIf="tabIndex == 0" (click)="_dummyCall('Filter contains')">Filter contains</button>
    <button mat-button color="primary" *ngIf="tabIndex == 0" (click)="_dummyCall('Filter between')" disabled>Filter between</button>
    <button mat-button color="primary" *ngIf="tabIndex == 0" (click)="_dummyCall('Filter range')" disabled>Filter range</button>
    <button mat-button color="primary" *ngIf="tabIndex == 0" (click)="_dummyCall('Remove filter')">Remove filter</button>
    <button mat-button color="primary" *ngIf="tabIndex == 0" (click)="_dummyCall('Sort by')">Sort by</button>
    <button mat-button color="primary" *ngIf="tabIndex == 0" (click)="_dummyCall('Remove sort')">Remove sort</button>
    <button mat-button color="primary" *ngIf="tabIndex == 0" (click)="_dummyCall('Go to page')">Go to page</button>
    
    <button mat-button color="primary" *ngIf="tabIndex == 1" (click)="_dummyCall('Show line')">Show line</button>
    <button mat-button color="primary" *ngIf="tabIndex == 1" (click)="_dummyCall('Show pie')">Show pie</button>
    <button mat-button color="primary" *ngIf="tabIndex == 1" (click)="_dummyCall('Show word')">Show word</button>
    <button mat-button color="primary" *ngIf="tabIndex == 1" (click)="_dummyCall('Show force')">Show force</button>

    <mat-tab-group class="demo-tab-group" (focusChange)="onFocusedTabChanged($event)" [selectedIndex]="tabIndex">
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <mat-icon>view_list</mat-icon>
        </ng-template>

        <div class="demo-tab-content">
          <analysis-data [workSheet]="workSheet" [filter]="filter" [sortColumn]="sortColumn" [page]="page"></analysis-data>
        </div>

      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <mat-icon>insert_chart</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          TODO : show analysis and customization here (separate components for qualitative and quantitative)

          <chart-basic *ngIf="showDiagram == 1" [workSheet]="workSheet"></chart-basic>
          <chart-pie *ngIf="showDiagram == 2" [workSheet]="workSheet"></chart-pie>
          <word-cloud *ngIf="showDiagram == 3" [workSheet]="workSheet"></word-cloud>
          <force-directed *ngIf="showDiagram == 4" [workSheet]="workSheet"></force-directed>

        </div>
      </mat-tab>
      <mat-tab label="Tab 3">
        <ng-template mat-tab-label>
          <mat-icon>dashboard</mat-icon>
        </ng-template>
        <div class="demo-tab-content">


          <mat-grid-list cols="4" gutterSize="10px" rowHeight="400px">
            <mat-grid-tile *ngFor="let tile of dashParams" [colspan]="2">
              <div class="full-container">
                <chart-basic *ngIf="tile.Type == 1" [workSheet]="tile.Sheet"></chart-basic>
                <word-cloud *ngIf="tile.Type == 3" [workSheet]="tile.Sheet"></word-cloud>
                <force-directed *ngIf="tile.Type == 4" [workSheet]="tile.Sheet"></force-directed>
                <chart-pie *ngIf="tile.Type == 2" [workSheet]="tile.Sheet"></chart-pie>
              </div>

            </mat-grid-tile>
          </mat-grid-list>


        </div>
      </mat-tab>
      <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <mat-icon>format_list_numbered</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
          <ol>
            <li>Common commands
              <ul>
                <li>Go [data/analyze/dash]</li>
                <li>Show help</li>
              </ul>
            </li>
            <li>Data tab commands
              <ul>
                <li>Filter by [column] contains [string]</li>
                <li>Filter by [column] between [number] and [number]</li>
                <li>Filter by [column] range [date] and [date]</li>
                <li>Remove filter [column]</li>
                <li>Sort by [column] [asc/desc]</li>
                <li>Remove sort [column]</li>
                <li>Go to page [number]</li>
              </ul>
            </li>
            <li>Analysis tab commands
              <ul>
                <li>Load [wordcloud/semantic/sentiment/pie/line/column/sankey]</li>

                <li>Line add base [column] [color]</li>
                <li>Line add value [column] [count/sum/ave/min/max]</li>
                <li>Line remove base [column]</li>
                <li>Line remove value [column]</li>
                <li>Line convert ['column']</li>
                <li>Line clear</li>
                <li>Line dash</li>

                <li>Pie add [column] [count/sum/ave/min/max] [color]</li>
                <li>Pie remove [column]</li>
                <li>Pie move [column] [position]</li>
                <li>Pie clear</li>
                <li>Pie dash</li>

                <li>Wordcloud [all/column]</li>
                <li>Wordcloud remove [word]</li>
                <li>Wordcloud reset [word]</li>
                <li>Wordcloud dash</li>
                
                <li>Force add [column] [color]</li>
                <li>Force remove [column] [color]</li>
                <li>Force move [column] [position]</li>
                <li>Force clear</li>
                <li>Force dash</li>

                <li>Semantic [all/column]</li>
                <li>Semantic find [word/phrase]</li>
                <li>Semantic dash</li>
                
                <li>Sentiment [all/column]</li>
                <li>Sentiment find [word]</li>
                <li>Sentiment dash</li>

                <li>Data show [rowIndex]</li>
                <li>Data reset</li>
                <li>Data page [number]</li>
              </ul>
            </li>
            <li>Dashboard tab commands
              <ul>
                <li>Dash move [temp-name] [position]</li>
                <li>Dash size [temp-name] [1/2/full]</li>
              </ul>
            </li>
          </ol>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="item item-3" fxFlex="19%">
    <div class="full-container">
      Response logs
      <div *ngFor="let log of logs">{{log}}</div>
    </div>
  </div>
</div>