<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div class="item item-1" fxFlex>
        <force-directed [workSheet]="analysisWorkSheet" [param]="param"></force-directed>
    </div>

    <div class="item item-2" fxFlex="18%">

        <mat-select placeholder="Scale" (selectionChange)="onScaleChanged($event)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let column of workSheet.Headers" [value]="column">{{column}}</mat-option>
        </mat-select>

        <tree-root [nodes]="nodes" [options]="options">
            <ng-template #treeNodeTemplate let-node let-index="index">
              <span><mat-icon *ngIf="node.data.droppable && node.data.id != 2" (click)="deleteNode(node)">delete</mat-icon> {{ node.data.name }}</span>
            </ng-template>
        </tree-root>
    </div>

</div>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div class="item" fxFlex>
        <analysis-data [workSheet]="workSheet" [showEmitter]="true" (dataEmitter)="onDataChanged($event)"></analysis-data>
    </div>
    
</div>

